body {
  color: #eeeeee;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  margin: 0;
  background-color: #262626;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
  background-color: #4a4a4a;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

.logo {
  width: 50px;
}



.slide-btn {
  padding: 1rem;
  background-color: #fad02c;
  border: none;
  border-radius: 0.5rem;
  color: #222;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  cursor: pointer;
}

.hero-text {
  font-size: 2.5rem;
}

.section-title {
  font-size: 2.5rem;;
}

.center {
  text-align: center;
}

.btn-group {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}



.bg-yellow {
  background-color: #fad02c;
  color: #222;
}

.btn-primary {
  background-color: #fad02c;
  color: #222;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.icon {
  color: #fad02c;
  font-size: 5rem !important;
}