{{ define "main" }}

{{ with .Params.intro }}
<div class="w-100 bg-yellow d-flex flex-column align-items-center py-5 px-3 px-md-5 text-center">
    <h1 class="text-3xl font-bold mb-4">{{ $.Title }}</h1>
    <p class="mb-4 mx-auto w-100" style="max-width:760px;">{{ . }}</p>
</div>
{{ end }}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
            <div class="rounded-4 shadow-sm p-4 p-md-5">
                <div class="mb-4 text-light">
                    {{ .Content }}
                </div>
                {{ with .Params.cards }}
                <div class="row g-4">
                    {{ range . }}
                        <div class="col-12 col-md-6">
                            <div class="card h-100 shadow-sm">
                                <img src="{{ .image }}" class="card-img-top img-fluid" alt="{{ .title }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ .title }}</h5>
                                    <p class="card-text">{{ .text }}</p>
                                    <a href="{{ .link }}" class="btn btn-primary">{{ .linktext }}</a>
                                </div>
                            </div>
                        </div>
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>

{{ end }}