{{ define "main" }}

{{ with .Params.intro }}
<div class="w-full bg-yellow d-flex flex-column align-items-center py-5">
    <h1 class="text-3xl font-bold mb-4">{{ $.Title }}</h1>
    <p class="mb-6 w-75 text-dark">{{ . }}</p>
</div>
{{ end }}

<div class="d-flex flex-column my-5 mx-lg-5 mx-sm-1 px-5 py-3">
    {{ .Content }}
</div>

<div class="d-flex flex-row flex-wrap justify-content-evenly mx-5">
    <a href="{{ .Params.button1link }}" class="btn btn-primary my-3 mx-2 px-4 py-2">{{ .Params.button1text }}</a>
    <a href="{{ .Params.button2link }}" class="btn btn-primary my-3 mx-2 px-4 py-2">{{ .Params.button2text }}</a>
    <a href="{{ .Params.button3link }}" class="btn btn-primary my-3 mx-2 px-4 py-2">{{ .Params.button3text }}</a>
</div>

{{ end }}