{{ define "main" }}
  <div class="carousel">
    <img class="carousel-image active" src="/images/DCCC_hero.jpg" alt="DCCC Building" />
    <img class="carousel-image" src="/images/whatwebelieve_cropped.jpg" alt="What We Believe" />
    <button class="carousel-btn prev">&#10094;</button>
    <button class="carousel-btn next">&#10095;</button>
  </div>
  {{ .Content }}
  {{ range site.RegularPages }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{ .Summary }}
  {{ end }}
{{ end }}
