{{ define "main" }}
<div id="homepageCarousel" class="carousel slide mb-4" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/images/DCCC_hero.jpg" alt="DCCC Building" />
      <div
        class="carousel-caption d-none d-md-flex flex-column justify-content-center align-items-center bg-black top-50 start-50 translate-middle px-5 w-75"
        style="--bs-bg-opacity: .5;">
        <h2 class="text-3xl">Welcome to Dade City Christian Church</h2>
        <p>We live to love, serve, and make disciples.</p>
        <a href="/about" class="btn btn-primary mt-2">About Us</a>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/images/whatwebelieve_cropped.jpg" alt="What We Believe" />
      <div
        class="carousel-caption d-none d-md-flex flex-column justify-content-center align-items-center bg-black top-50 start-50 translate-middle px-5 w-75"
        style="--bs-bg-opacity: .5;">
        <h2 class="text-3xl">What We Believe</h2>
        <p>We exist to love, serve, and make disciples of Jesus Christ.</p>
        <a href="/about/values-and-beliefs" class="btn btn-primary mt-2">Our Values and Beliefs</a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#homepageCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#homepageCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<h3 class="center quick-stop">Quick Stops</h3>
<div class="container my-4 mb-6">
  <div class="row justify-content-center g-4">
    <div class="col-12 col-md-6 col-lg-5">
      <div class="card h-100 text-center">
        <a href="/connect/next-steps">
          <img class="card-img-top img-fluid" src="/images/next-steps.jpg" alt="Next Steps"
            style="object-fit:cover; max-height:250px;">
        </a>
        <div class="card-body bg-dark">
          <h4 class="card-title text-light">Next Steps</h4>
          <p class="card-text text-light">First time here? Looking to get involved and serve others? Looking to connect
            in a small group? Start here! In our Next Steps class, we cover everything we believe and where to go from
            here. Join us!</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-5">
      <div class="card h-100 text-center">
        <a href="/connect/childrens-ministry">
          <img class="card-img-top img-fluid" src="/images/childrens-ministry.jpg" alt="Children's Ministry"
            style="object-fit:cover; max-height:250px;">
        </a>
        <div class="card-body bg-dark">
          <h4 class="card-title text-light">Children's Ministry</h4>
          <p class="card-text text-light">Looking to bring your little ones along? That's great! Here at Dade City
            Christian Church we love kids and believe that investing into the next generation is one of the best things
            we can do. So come along! We're sure your kiddos will have a great time as they grow and learn more about
            how much God loves them.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="btn-group center mx-3">
  <a href="https://www.facebook.com/DadeCityCC/" target="_blank" rel="noopener">
    <button class="slide-btn">Facebook</button>
  </a>
  <a href="/connect">
    <button class="slide-btn">Plan Your Visit</button>
  </a>
</div>
{{ end }}