{{ define "main" }}

{{ with .Params.intro }}
<div class="w-full bg-yellow d-flex flex-column align-items-center py-5">
    <h1 class="text-3xl font-bold mb-4">{{ $.Title }}</h1>
    <p class="mb-6 w-75 text-dark">{{ . }}</p>
</div>
{{ end }}

{{ with .Params.intro2 }}
<div class="m-5">
  <p>{{ . }}</p>
</div>
{{ end }}

{{ with .Params.cards }}
<div class="d-flex flex-wrap gap-2 justify-content-evenly my-4">
    {{ range . }}
        <div class="card" style="width: 20rem;">
            <img src="{{ .image }}" class="card-img-top" alt="{{ .title }}">
            <div class="card-body bg-dark text-white">
                <h3 class="card-title">{{ .name }}</h3>
                <h5 class="card-title">{{ .title }}</h5>
                <a href="mailto:{{ .email }}">{{ .email }}</a>
                <p class="card-text">{{ .bio }}</p>
            </div>
        </div>
    {{ end }}
</div>
{{ end }}

<div class="d-flex flex-column my-5 mx-5 px-5 py-3">
    {{ .Content }}
</div>

{{ end }}