{{ define "main" }}

<div class="w-full bg-yellow d-flex flex-column align-items-center py-5">
    <h1 class="text-3xl font-bold mb-4"> {{ .Title }}</h1>
    <p class="mb-6 w-75 text-dark">{{ .Params.intro }}</p>
</div>

<div class="container my-5">
    {{ with .Params.missions }}
        {{ range . }}
            <div class="mx-auto mb-5">
                <img src="{{ .image }}" class="d-block mx-auto img-fluid" style="max-width: 500px; width: 100%;" />
                <h2>{{ .title }}</h2>
                <hr>
                <h3>{{ .subtitle1 }}</h3>
                <p>{{ .text1 }}</p>
                <hr>
                <h3>{{ .subtitle2 }}</h3>
                <p>{{ .text2 }}</p>
                <hr>
                <h3>{{ .subtitle3 }}</h3>
                <p>{{ .text3 }}</p>
                <div class="d-flex justify-content-center">
                    <a href="{{ .buttonlink }}" target="_blank" class="btn btn-primary mt-3 w-50 mx-auto">{{ .buttontext }}</a>
                </div>
            </div>
        {{ end }}
    {{ end }}
</div>

{{ end }}